In [1]:
import pandas as pd
import pymysql

#### 连接到数据库取students表

In [2]:
conn = pymysql.connect(host="localhost",user="root",password="114514",db="test")
cursor = conn.cursor()

cursor.execute("select * from students where score<90;")
result = cursor.fetchall()

cursor.close()
conn.close()

print(result)

((3, 1, '小军', 'M', 88), (4, 1, '小米', 'F', 73), (5, 2, '小白', 'F', 81), (6, 2, '小兵', 'M', 55), (7, 2, '小林', 'M', 85), (9, 3, '小王', 'M', 89), (10, 3, '小丽', 'F', 85))

注意看上边这个result，这个最后的逗号至关重要。它告诉了dataframe，(1, 1, '小明', 'M', 90)是一排而不是一列。

In [14]:

data2 = result

df2 = pd.DataFrame(data2,columns=["id","classID","name","gender","score"])

df2.to_csv("../csv/testcsv.csv")
df2

   id  classID name gender  score
0   3        1   小军      M     88
1   4        1   小米      F     73
2   5        2   小白      F     81
3   6        2   小兵      M     55
4   7        2   小林      M     85
5   9        3   小王      M     89
6  10        3   小丽      F     85